# Server Configuration
PORT=5000

# Database Configuration (Supabase PostgreSQL)
# Use your Supabase IPv4 connection string
# Format: postgresql://postgres:[YOUR-PASSWORD]@[PROJECT-REF].supabase.co:5432/postgres
DATABASE_URL=postgresql://postgres:your_password@your-project.supabase.co:5432/postgres
DB_PASSWORD = YFuwAvZ8qkXMVBEt
# Session Secret
SESSION_SECRET=hostelcare_secret
